body {
    margin: 0;
    font-family: 'Montserrat', sans-serif !important;
}
.row { 
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.sign-in {
    position: relative;
    background-image: url("../imgs/girl-with-red-hat-dst8x5ScJPE-unsplash.png");
    background-size: cover;
    min-height: 100vh;
}



.sign-box {
    position: absolute;
    z-index: 2;
    width: 65%;
    background-color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    
}

@media (max-width : 990px){
    .sign-box {
        
        width: 80%;
        padding-bottom: 30px;
        margin-top: 40px;
        
    }
}
.sign-box .content h1 {
    font-weight: 600;
    font-size: 30px;
    color: #393939;
    padding: 20px;
    margin-top: 30px;
}

@media (max-width: 990px){
    .sign-box .content h1 {
        font-weight: 600;
        font-size: 25px;
       
       
    }
}
.sign-box form {
    padding: 40px;
    padding-bottom: 0;
    padding-top: 0;
    
}
.sign-box  form .input-box {
    border-right: none;
    border-top: none;
    border-left: none;
    border-radius: 0;
}
.sign-box label {
    color: #676767;
    font-weight: 500;
}

.sign-box .submit-btn .btn {
    background-color: #000;
    border-radius: 50px;
    padding: 10px 35px;
    
}

.sign-box a {
    
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 50px;
    padding: 10px 10px;
    color: #000;
    font-weight: 500;
    font-size: 16px;
}

@media (max-width :  1199px){
    .sign-box a {
        font-size: 16px;
    margin-bottom: 10px;
   
    }
}

@media (min-width : 1200px){
    .sign-box a {
        margin-right: 1px;
    margin-bottom: 10px;
    font-size: 11px ;
    }
}

@media (min-width : 1400px){
    .sign-box a {
    
    font-size: 16px ;
    }
}



.sign-box h5 {
    margin: 20px;
}
.sign-box a:hover{
    text-decoration: none;
    color: #000;
}
.sign-box .image {
    padding: 0;
    margin: 0;
    position: relative;
}
.sign-box .image img {
    width: 100%;
    height: 100%;
}

@media (max-width :990px){
    .sign-box .image img {
        display: none;
    }
}
.sign-box .image h1 {
    font-family: 'Montserrat Alternates', sans-serif !important;
    font-size: 30px;
    font-weight: 400;
    position: absolute;
    z-index: 2;
    top: 55px;
    left: 60px;
}

@media (max-width : 990px){
    .sign-box .image h1 {
        display: none;
    }
}